@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

::root{
  --font-Pt: "PT Sans, serif";
  --font-Oswald: "Oswald, serif";
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body{
  width:100%;
  height: 90vh;
  position:relative;
  font-size: 1rem;
  font-family: "PT Sans, serif";
  background-color: #efefef;
}

header{
  width:100%;
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: center;
  font-family: "Oswald, serif";
  border-bottom: 3px solid red;
}

h2{
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
  font-family: var(--font-Pt);
}

h1{
  width: auto;
  padding-left: 10px;
  font-size: 5rem;
  margin-top: 20px;
}

h1>span{
  color: darkred;
  font-size: 6rem;
}

.card{
  width:80%;
  height: 65%;
  margin: 30px auto;
  border: 2px solid gray;
  background-color: white;
}

.card>img{
  width:120px;
  height: auto;
  margin: 5px auto;
}

h3{
  font-size: 3rem;
  width:100%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 5px 0;
  margin: 20px 0;
  text-align: center;
  font-weight: 800;
}

h4{
  width: 80%;
  margin: 10px auto;
  background-color: black;
  color: #efefef;
  font-size: 2rem;
}

p{
  width:80%;
  margin: 0 auto;
  font-size: 2.8rem;
}

footer{
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  color: #efefef;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 15px;
  background-color: darkred;
}

.sptela{
  width:400px;
  height: auto;
  position:absolute;
  top: 30%;
  left: -250px;
}

.sptela1{
  width:180px;
  height: auto;
  position:absolute;
  top: 10%;
  right: -50px;
}

.spfooter{
  width: 250px;
  height: auto;
  position: absolute;
  bottom: 65px;
  right: 0;
}
